.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo-container img {
    width: 300px;
}

.logo-container .logo-main {
    width: 400px;
    height: auto;
}

body {

    background: radial-gradient(circle at center, black, darkmagenta);
}

