.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo-container img {
    width: 100px;
}

.logo-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo-main img {
    width: 200px;
    height: 100px;
}

