.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo-container img {
    width: 200px;
}

.logo-container .logo-main {
    width: 300px;
    height: auto;
}

body {

    background: radial-gradient(circle at center, black, darkmagenta);
    text-align: center;
    font-family: "Special Elite", monospace;
}

.description {
    max-width: 600px;
    margin: 40px auto;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.link {
    display: inline-block;
    padding: 15px 40px;
    margin: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.link:hover {
    color: white;
    background-color: darkgreen;
    transform: scale(1.1);
}

.headers {

    color: white;
}

.eplogo {

    text-align: left;

}
